<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.brousalis"
	android:versionName="0.0.9"
	android:versionCode="9">
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:debuggable="true">
		<activity
			android:name=".ShowMap"
			android:label="@string/app_name"
			android:configChanges="orientation"
			android:theme="@android:style/Theme.Black.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".TrailPrefs"
			android:label="@string/title_options"
			android:theme="@android:style/Theme.Black.NoTitleBar"/>
		<activity
			android:name=".ItemDetails"
			android:label="@string/title_details"
			android:configChanges="orientation"
			android:theme="@android:style/Theme.Black.NoTitleBar"/>
		<activity
			android:name=".AddPoint"
			android:label="@string/title_add_point"
			android:windowSoftInputMode="stateHidden|adjustUnspecified"
			android:configChanges="orientation"
			android:theme="@android:style/Theme.Black.NoTitleBar"/>
		<activity
			android:name=".ReportProblem"
			android:label="@string/report_a_problem"
			android:windowSoftInputMode="stateHidden|adjustUnspecified"
			android:configChanges="orientation"
			android:theme="@android:style/Theme.Black.NoTitleBar"/>
		<uses-library
			android:name="com.google.android.maps"
			android:required="true"/>
	</application>
	<uses-sdk android:minSdkVersion="7"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>
</manifest>